<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <title>FPL Teams Data 2019-2020</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <link href="css/album.css" rel="stylesheet" />
    </head>
    <body>
      <%- include('common/header'); -%>

      <div class="container">
        <h1 class="text-center">Update a Teams Data</h1>
        <div class="row justify-content-md-center">
          <div class="col-">
            <form method="POST" action="/update_team">
              <div class="form-group">
                <label for="name">Team name</label>
                <input
                  value="<%= teams.teams %>" 
                  type="text"
                  class="form-control"
                  id="name"
                  name="title"
                  placeholder="Enter name"
                />

                <% if (errors['title']) { %>
                <p style="color: red"><%= errors['title'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="name">Goals they scored</label>
                <input
                  value="<%= teams.goals %>" 
                  type="number"
                  class="form-control"
                  id="name"
                  name="goals"
                />

                <% if (errors['goals']) { %>
                <p style="color: red"><%= errors['goals'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="name">Total Shots</label>
                <input
                  value="<%= teams.shots_total %>" 
                  type="number"
                  class="form-control"
                  id="name"
                  name="shots_total"
                />

                <% if (errors['shots_total']) { %>
                <p style="color: red"><%= errors['shots_total'].message %></p>
                <% } %>
              </div>

              <div class="form-group">
                <label for="name">Total Shots on Target</label>
                <input
                  value="<%= teams.shots_on_target %>" 
                  type="number"
                  class="form-control"
                  id="name"
                  name="shots_on_target"
                />

                <% if (errors['shots_on_target']) { %>
                <p style="color: red"><%= errors['shots_on_target'].message %></p>
                <% } %>
              </div>
             
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <%- include('common/footer'); -%>
    </body>
  </html>
</html>
